# Array Operation

## Sum of array

In [1]:
'''
Input : arr[] = {1, 2, 3}
Output : 6
1 + 2 + 3 = 6

Input : arr[] = {15, 12, 13, 10}
Output : 50
'''

arr = [15, 12, 13, 10]
sum_1 = 0

for i in arr:
    sum_1 += i
print(sum_1)

print(sum(arr))

50
50

## To find largest element in an array

In [2]:

'''
Input : arr[] = {10, 20, 4}
Output : 20

Input : arr[] = {20, 10, 20, 4, 100}
Output : 100
'''

def nlargest(arr):
    n_largest = 0
    for i in arr:
        if i > n_largest:
            n_largest = i

    return n_largest

print(nlargest(arr=[20, 10, 20, 4, 100]))

print(max([20, 10, 20, 4, 100]))

100
100

## Array rotation

In [3]:
'''
Input : arr[] = [1, 2, 3, 4, 5, 6], n=1
Output = [2,3,4,5,6,1]


Input : arr[] = [1, 2, 3, 4, 5, 6], n=2
Output : [3,4,5,6,1,2]
'''

#Solution 1

def rotation(arr, num):
    count = 0
    temp = []
    num_1  = num

    while (num_1 < len(arr)):
        temp.append(arr[num_1])
        num_1 = num_1 + 1

    while(count < num):
        temp.append(arr[count])
        count = count + 1
    return temp

print(rotation(arr=[1, 2, 3, 4, 5, 6], num=2))

# Solution 2 :
def rotateList(arr,d,n):
  arr[:]=arr[d:n]+arr[0:d]
  return arr


arr = [1, 2, 3, 4, 5, 6]

print("Rotated list is")
print(rotateList(arr,2,len(arr)))

[3, 4, 5, 6, 1, 2]
Rotated list is
[3, 4, 5, 6, 1, 2]

## To find Reversal algorithm for array rotation

In [4]:
'''
Input :  arr[] = [1, 2, 3, 4, 5, 6, 7]
         d = 2
Output : arr[] = [3, 4, 5, 6, 7, 1, 2] 
'''

def rotation(arr):
    rotateList = []
    arr_len = len(arr)
    for i in range(arr_len, -1, -1):
        if i != 0:
            rotateList.append(i)
    print(rotateList)
    
rotation(arr=[1, 2, 3, 4, 5, 6, 7])

[7, 6, 5, 4, 3, 2, 1]

## Spilt Array

In [5]:
'''
Input : arr[] = {12, 10, 5, 6, 52, 36}
            k = 2
Output : arr[] = {5, 6, 52, 36, 12, 10}
Explanation : Split from index 2 and first 
part {12, 10} add to the end .

Input : arr[] = {3, 1, 2}
           k = 1
Output : arr[] = {1, 2, 3}
Explanation : Split from index 1 and first
part add to the end.
'''

def split_arr(arr, k):
    return arr[k:len(arr)] + arr[0:k]

print(split_arr(arr=[12, 10, 5, 6, 52, 36], k=2))

[5, 6, 52, 36, 12, 10]

## Find remainder of array multiplication divided by n

In [6]:
'''
Input : arr[] = {100, 10, 5, 25, 35, 14}, 
            
            n = 11

Output : 9
100 x 10 x 5 x 25 x 35 x 14 = 61250000 % 11 = 9
'''

def find_remainder(arr, n):
    temp = 1
    for i in arr:
        temp *= i
        
    temp = temp % 11
    return temp
        
print(find_remainder(arr=[100, 10, 5, 25, 35, 14], n=11))

9

## To check if given array is Monotonic

In [7]:
''' 
Input : 6 5 4 4
Output : true

Input : 5 15 20 10
Output : false

'''
def is_array_monotonic(arr):
    temp_array = []
    for i in arr:
        if i in temp_array:
            return True
        else: 
            temp_array.append(i)
        
    return False

print(is_array_monotonic(arr=[6, 5, 4, 4]))
print(is_array_monotonic(arr=[5, 15, 20, 10]))

True
False

# List

## To interchange first and last elements in a list

In [8]:
'''
Input : [12, 35, 9, 56, 24]
Output : [24, 35, 9, 56, 12]

Input : [1, 2, 3]
Output : [3, 2, 1] 

'''

# Swap function
def swapList(newList):
    size = len(newList)
    
    # Swapping 
    temp = newList[0]
    newList[0] = newList[size - 1]
    newList[size - 1] = temp
    
    return newList
      
# Driver code
newList = [12, 35, 9, 56, 24]
  

    # Swap function
def swapList(newList):
      
    newList[0], newList[-1] = newList[-1], newList[0]
  
    return newList
      
# Driver code
newList = [12, 35, 9, 56, 24]
print(swapList(newList))

[24, 35, 9, 56, 12]

## To swap two elements in a list

In [9]:
''' Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90]

Input : List = [1, 2, 3, 4, 5], pos1 = 2, pos2 = 5
Output : [1, 5, 3, 4, 2] '''

def swap(arr, pos1, pos2):
    arr[pos1-1], arr[pos2-1] = arr[pos2-1], arr[pos1-1]
    return  arr

print(swap([1, 2, 3, 4, 5], 2, 5))

[1, 5, 3, 4, 2]

## Ways to find length of list

In [10]:
arr = [1, 5, 3, 4, 2]

# Solution 1
count = 0
for i in arr:
    count +=1
    
print(count)
print(len(arr))

5
5

## Clear List

In [11]:
arr = [1, 5, 3, 4, 2]

arr.clear()
print("arr ===> ", arr)

arr = [1, 5, 3, 4, 2]
arr *= 0
print("arr ===> ", arr)

arr ===>  []
arr ===>  []

## Reverse List

In [12]:
# Reversing a list using reversed()
def Reverse(lst):
    return [ele for ele in reversed(lst)]
      
# Driver Code
lst = [10, 11, 12, 13, 14, 15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

In [13]:
# Reversing a list using reverse()
def Reverse(lst):
    lst.reverse()
    return lst
      
lst = [10, 11, 12, 13, 14, 15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

In [14]:
# Reversing a list using slicing technique
def Reverse(lst):
    new_lst = lst[::-1]
    return new_lst
      
lst = [10, 11, 12, 13, 14, 15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

## Multiply

In [15]:
import numpy as np

l1 = [1, 2, 3, 4]
l2 = [1, 2, 3, 4]

np.prod(l1)

24

## to find smallest number in a list

In [16]:
arr  = [33, 34, 66, 78, 22, 88] 

temp = arr[0]
for i in arr:
    if i < temp:
        temp = i

print(temp)
print(min(arr))

22
22

## Max Number in List

In [17]:
arr  = [33, 34, 66, 78, 22, 88] 

temp = arr[0]
for i in arr:
    if i > temp:
        temp = i

print(temp)
print(max(arr))

88
88

## Second Largest Number

In [18]:
'''
Input: list1 = [10, 20, 4]
Output: 10

Input: list2 = [70, 11, 20, 4, 100]
Output: 70
'''

def second_largest(arr):
    first = arr[0]
    second = arr[1]
    count = 0
    
    if first > second: 
        first = arr[1]
        second = arr[0]
    
    for i in arr:
       if i > first:
        second = first
        first = i
       elif i > second:
        second = i
    
    return second

print(second_largest(arr = [33, 34, 66, 78, 22, 88, 12, 98] ))



arr1 = [33, 34, 66, 78, 22, 88, 12, 98]
arr1.sort()
print(arr1[-2])

88
88

In [19]:
# list of numbers
list1 = [10, 20, 4, 45, 99]
 
# sorting the list
list1.sort()
 
# printing the second last element
print("Second largest element is:", list1[-2])

Second largest element is: 45

## Find Nth Largest

In [20]:
l = [1000,298,3579,100,200,-45,900]
n = 5
  
l.sort()
print(l[-n:])

[200, 298, 900, 1000, 3579]

## Remove empty List from List

In [29]:
# Initializing list 
arr = [5, 6, [], 3, [], [], 9]

#1
arr_temp = []
for i in arr:
    if i != []:
        arr_temp.append(i)
#2               
arr_temp1 = [i for i in arr if i != []]


#3
arr_temp2 = list(filter(None, arr))



print(arr_temp)
print(arr_temp1)
print(arr_temp2)

[5, 6, 3, 9]
[5, 6, 3, 9]
[5, 6, 3, 9]

## Cloning or Copying List

In [31]:
#1
def Cloning(li1):
    li_copy = li1[:]
    return li_copy
  

# Driver Code
li1 = [4, 8, 2, 10, 15, 18]

li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

#2
def Cloning(li1):
    li_copy = []
    li_copy.extend(li1)
    return li_copy
  
# Driver Code
li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]
Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [40]:
'''
Input : lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
         x = 10
Output : 3 
10 appears three times in given list.

Input : lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
        x = 16
Output : 0 '''


#1
def occurances(arr, ele):
    count = 0
    if ele not in arr:
        return count;
    else:    
        for i in arr:
            if i == ele:
                count += 1
    return count
    
print(occurances([15, 6, 7, 10, 12, 20, 10, 28, 10], 10))
print(occurances([8, 6, 8, 10, 8, 20, 10, 8, 8], 16))


#2
def occurances_1(arr, ele):
    return arr.count(ele)

print(occurances_1([15, 6, 7, 10, 12, 20, 10, 28, 10], 10))
print(occurances([8, 6, 8, 10, 8, 20, 10, 8, 8], 16))


#3
from collections import Counter

l = [1, 1, 2, 2, 3, 3, 4, 4, 5, 5] 

x = 3
d = Counter(l)
print("d   ", d)
print('{} has occurred {} times'.format(x, d[x]))

3
0
3
0
d    Counter({1: 2, 2: 2, 3: 2, 4: 2, 5: 2})
3 has occurred 2 times

##

In [53]:
''' Input : tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'), 
                  ('krishna', 'akbar', '45'), ('',''),()]
Output : [('ram', '15', '8'), ('laxman', 'sita'), 
          ('krishna', 'akbar', '45'), ('', '')]

Input : tuples = [('','','8'), (), ('0', '00', '000'), 
                 ('birbal', '', '45'), (''), (),  ('',''),()]
Output : [('', '', '8'), ('0', '00', '000'), ('birbal', '', '45'), ('', '')]'''

tup = [(), ('ram','15','8'), (), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('',''),()]

for i in tup:
    if i != ():
        print(i)

        

tup1 = [t for t in tup if t]
print(tup1)


def Remove(tuples):
    tuples = filter(None, tuples)
    return tuples
  
# Driver Code
tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('',''),()]
print(Remove(tuples))

('ram', '15', '8')
('laxman', 'sita')
('krishna', 'akbar', '45')
('', '')
[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]
<filter object at 0x7fe88854e950>

## To print duplicates from a list of integers

In [57]:
'''
Input : list = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
Output : output_list = [20, 30, -20, 60]


Input :  list = [-1, 1, -1, 8]
Output : output_list = [-1]'''


from collections import Counter

def find_dup(arr):
    dict = Counter(arr)
    for key, value in dict.items():
        if value > 1:
            print(key)

print(find_dup([10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]))

20
30
-20
60
None

## To find Cumulative sum of a list

In [59]:
'''
Input : list = [10, 20, 30, 40, 50]
Output : [10, 30, 60, 100, 150]

Input : list = [4, 10, 15, 18, 20]
Output : [4, 14, 29, 47, 67]

'''

def cum_sum(arr):
    sum = 0
    arr_temp = []
    for ele in arr:
        sum += ele
        arr_temp.append(sum)

    return arr_temp
    

    
print(cum_sum([10, 20, 30, 40, 50]))
print(cum_sum([4, 10, 15, 18, 20]))

[10, 30, 60, 100, 150]
[4, 14, 29, 47, 67]